doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    
    body 
        header
            h1#title just chatting
            h2#yourName
        main
            div#welcome
                form#name
                    input(placeholder="nickname", required, type="text")
                    Button START

            div#watingRoom
                ul
                form#destination
                    input(placeholder="room name", required, type="text")
                    Button ENTER ROOM

            div#room
                h3
                div#call 
                    div#myStream
                        button#mute UnMute
                        button#camera Turn Camera On
                        select#cameras
                            option(value="device") Face Camera
                        video#myFace(autoplay, playsinline, width="200", height="200", src="/bono.png")
                div#chat
                    ul
                    form#msg
                        input(placeholder="message", required, type="text")
                        Button SEND
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")