doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        style
            include style.css
    
    body
        header
            h1#title just chatting
        main
            div#welcome
                form#name
                    div#characters
                        text 마라탕
                        legend 캐릭터
                            img#bonobono(src=".bono.png" alt='bonobono' style='width:100px; height:100px;')
                            input(type="radio" name="gender" value="male" checked)
                            img(id="porori" alt='porori' style='width:100px; height:100px;')
                            input(type="radio" name="gender" value="female")
                    div#inputDiv
                        input(placeholder="nickname", required, type="text", id="settingInput")
                        Button START

            div#watingRoom
                h2#yourName
                text chatting room list
                div#opendRoom
                    ul
                form#destination
                    div#inputDiv
                        input(placeholder="room name", required, type="text", id="settingInput")
                        Button ENTER

            div#room
                h3
                
                div#call 
                    div#myStream
                        div#streamSetting
                            button#mute UnMute
                            button#camera Camera On
                            select#cameras
                                option(value="device") Face Camera
                        video#myFace(autoplay, playsinline)
                    div#peerStream(hidden=true)
                        div#streamSetting
                            button#peerMute UnMute
                        video#peerFace(autoplay, playsinline)
                div#chat
                    ul
                    form#msg
                        input(placeholder="message", required, type="text")
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")