body {
    background-color: lightblue;
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: 1em;
}

button {
    position: relative;
    padding: 0;
    margin: 0;
    width: calc(20% - 6px);
    height: 100%;
    background-color:aqua;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
}

#title {
    text-align: center;
    font-size: 4em;
    font-family:'Courier New', Courier, monospace;
}

#yourName {
    text-align: center;
    font-size: 35px;
}

#welcome {
    position: relative;
    font-size: 30px;
    height: 60vh;
    width: 60vw; 
    left: 20vw; 
    line-height: normal;
    background-color: beige;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}

#welcome form {
    position: relative;
    top: 30%;
    width: 80%;
    left: 10%;
    color:aquamarine;
    vertical-align: middle;
    font-size: 1em;
}

#inputDiv {
    position: relative;
    width: 100%;
    min-height: 40%;
}

#settingInput {
    position: relative;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 100%;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
}

#watingRoom {
    position: relative;
    font-size: 30px;
    height: 60vh;
    width: 60vw; 
    left: 20vw; 
    line-height: normal;
    background-color: beige;
    border: 3px solid black;
    border-radius: 5px;
}

#watingRoom text {
    position: relative;
    left: 10%;
    background-color: #F8F0A4;
    border: 3px solid black;
    border-radius: 5px;
}

#opendRoom {
    position: relative;
    width: 80%; 
    left: 10%; 
    min-height: 40%;
    max-height: 40%;
    background-color: #F8F0A4;
    border: 3px solid black;
    border-radius: 5px;
}


#watingRoom form{
    position: relative;
    width: 80%;
    left: 10%;
    color:aquamarine;
    vertical-align: middle;
    font-size: 1em;
}

#room {
    position: relative;
    font-size: 30px;
    width: 96vw;
    height: 96vh;
    left: 2vw;
    top: 2vh;
    text-align: center;
    line-height: normal;
    background-color: beige;
    border: 3px solid black;
    border-radius: 5px;
}

#call {
    position: relative;
    width: 70vw;
    height: 70vh;
    left: 2vw;
    float: left;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}
#myStream {
    position: relative;
    top: calc(35vh - 15vw);
    float: left;
    width: 35vw;
}

#streamSetting {
    width: 35vw;
    height: 5vh;
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

#streamSetting button {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    font-weight: 200;
    width: 25%;
}

#streamSetting select {
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(50% - 6px);
    height: 100%;
    border: 3px solid black;
    border-radius: 5px;
}

video {
    position: relative;
    float: left;
    width: calc(100% - 6px);
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    border: 3px solid black;
    border-radius: 3px;
}

#peerStream {
    position: relative;
    float: left;
    top: calc(35vh - 15vw);
    width: 35vw;
}

#chat {
    font-size: 0.5em;
    position: relative;
    float: right;
    right: 2vw;
    width: 20vw;
    height: 70vh;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}

#chat ul {
    position: relative;
    height: 90%;
    padding: 0;
    margin: 0;
}

#myMessage {
    text-align: right;
}

#chat form {
    padding: 0;
    position: relative;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    height: 10%;
}

#chat form ul {
    font-size: 5px;
    font-family:serif;
}

#chat form input {
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    border: 0 solid black;
    border-radius: 10px;
    font-size: 1em;
}